<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->
<!--    <include resource="org/springframework/boot/logging/logback/base.xml" />-->
<!--    <logger name="org.springframework.web" level="INFO"/>-->
<!--    <logger name="org.springboot.sample" level="TRACE" />-->
<!--	<logger name="com.test.demo" level="INFO" />-->

<!--	&lt;!&ndash;0. 日志格式和颜色渲染 &ndash;&gt;-->
<!--	&lt;!&ndash; 彩色日志依赖的渲染类 &ndash;&gt;-->
<!--	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />-->
<!--	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />-->
<!--	<conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />-->
<!--	&lt;!&ndash; 彩色日志格式 &ndash;&gt;-->
<!--	<property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>-->

<!--	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--		&lt;!&ndash;此日志appender是为开发使用，只配置最底级别，控制台输出的日志级别是大于或等于此级别的日志信息&ndash;&gt;-->
<!--		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--			<level>debug</level>-->
<!--		</filter>-->
<!--		<encoder>-->
<!--			<Pattern>${CONSOLE_LOG_PATTERN}</Pattern>-->
<!--			&lt;!&ndash; 设置字符集 &ndash;&gt;-->
<!--			<charset>UTF-8</charset>-->
<!--		</encoder>-->
<!--	</appender>-->
<!--    &lt;!&ndash; 开发、测试环境 &ndash;&gt;-->
<!--    <springProfile name="dev,test">-->
<!--        <logger name="org.springframework.web" level="INFO"/>-->
<!--        <logger name="org.springboot.sample" level="INFO" />-->
<!--        <logger name="io.renren" level="DEBUG" />-->
<!--    </springProfile>-->

<!--    &lt;!&ndash; 生产环境 &ndash;&gt;-->
<!--    <springProfile name="prod">-->
<!--        <logger name="org.springframework.web" level="ERROR"/>-->
<!--        <logger name="org.springboot.sample" level="ERROR" />-->
<!--        <logger name="io.renren" level="ERROR" />-->
<!--    </springProfile>-->

<!--	<logger name="com.test.demo" level="debug"/>-->

<!--	<root level="info">-->
<!--		<appender-ref ref="CONSOLE" />-->
<!--		<appender-ref ref="DEBUG_FILE" />-->
<!--		<appender-ref ref="INFO_FILE" />-->
<!--		<appender-ref ref="WARN_FILE" />-->
<!--		<appender-ref ref="ERROR_FILE" />-->
<!--	</root>-->
<!--</configuration>-->